body{
	background: grey;
}

.Mainpad {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50px;
}

.button {
  margin: 4px 2px;
  width: 2em;
  height: 2em;
  font-size: 270%;
}

.button10 {
  margin: 4px 2px;
  width: 6.4em;
  height: 64px;
}

#Narrator {
  text-align: center;
  font-size: 270%;
}
